__pycache__/
*.py[cod]
.venv/
venv/
.env

*.log
*.sqlite3
/MPS_Project/staticfiles/
/MPS_Project/media/*
!/MPS_Project/media/seed/

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
.ruff_cache/
.coverage
htmlcov/
